.NavButton
{
    
    color: #c2cbcb;
    margin-right: 50px;
    
    border-radius: 6px;
    border-style:none; 
    text-decoration-line: none;
    background-color:#00000000;
    
    transition: color 0.35s ease-in-out;
    font-size: 25px;
} 
.NavButton:hover
{
    border-style:solid; 
    color: #8f1212; 

}