.Main
{
    background-color: black;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;   /* 100% of the viewport width */
    flex-direction: column;
    display: flex;
    overflow-x :auto;  
}